<!DOCTYPE html>

<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Akram's Digital Name Card</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if lte IE 8]>
    <script src="static/assets/js/html5shiv.js"></script><![endif]-->
    <link href="static/assets/css/main.css" rel="stylesheet">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="static/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/assets/css/ie8.css"/><![endif]-->
    <noscript>
        <link href="static/assets/css/noscript.css" rel="stylesheet"/>
    </noscript>
</head>
<body class="" contenteditable="true" cz-shortcut-listen="true">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main">
        <header>
            <span class="avatar"><img alt="" src="static/images/avatar.png" width="200"></span>
            <h1>Akram ou</h1>
            <p>Middle Python Developer<br></p>
        </header>
        <footer>
            <ul class="icons">
                <li><a class="fa-twitter" href="http://127.0.0.1:5000/#">Twitter</a></li>
                <li><a class="fa-instagram" href="http://127.0.0.1:5000/#">Instagram</a></li>
                <li><a class="fa-facebook" href="http://127.0.0.1:5000/#">Facebook</a></li>
            </ul>
        </footer>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>© mehdi-akram ouairem</li>&nbsp;<li>Digital name card</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]>
<script src="static/assets/js/respond.min.js"></script><![endif]-->
<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}




</script>


<style>
    .tb_button {padding:1px;cursor:pointer;border-right: 1px solid #8b8b8b;border-left: 1px solid #FFF;border-bottom: 1px solid #fff;}.tb_button.hover {borer:2px outset #def; background-color: #f8f8f8 !important;}.ws_toolbar {z-index:100000} .ws_toolbar .ws_tb_btn {cursor:pointer;border:1px solid #555;padding:3px}   .tb_highlight{background-color:yellow} .tb_hide {visibility:hidden} .ws_toolbar img {padding:2px;margin:0px}



</style>
</body>
</html>